<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SkillSwap{% endblock %}</title>
</head>
<body>

<nav>
    <a href="{% url 'home' %}">SkillSwap</a>
    |
    <a href="{% url 'skill_list' %}">Compétences</a>
    |
    {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}">Mon espace</a>
        |
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Déconnexion</button>
</form>
    {% else %}
        <a href="{% url 'login' %}">Connexion</a>
        | 
    {% endif %}
</nav>

<hr>

{% if messages %}
    {% for message in messages %}
        <p><strong>{{ message }}</strong></p>
    {% endfor %}
{% endif %}

{% block content %}{% endblock %}

</body>
</html>